* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgba(33, 148, 255, 40%);
    width: 18%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.circle_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px #000;
}

.circle_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.main_title {
    display: flex;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 60%);
}

/* hr {
    width: 70px;
    height: 4px;
    background-color: #0019FF;
    transform: rotate(90deg);
    margin-right: -25px;
    margin-left: -20px;
} */

.user_area {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.username {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.role {
    font-size: 16px;
    color: #0047FF;
}

li {
    list-style: none;
    margin: 40px 0px;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

li img {
    height: 24px;
    margin-left: -35px;
    margin-right: 10px;
}

.active {
    background-color: #3CA1FF;
    border-radius: 10px;
}

.active:hover {
    background-color: #3CA1FF;
}


li:hover {
    background-color: #3ca1ff73;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

.frescura img {
    margin-left: -56px;
}