@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  display: flex;
  height: 300vh;
}

#root{
  display: grid;
  grid-template-columns: 300px 1fr;
}